@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

@import 'tw-animate-css';

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .pb-safe {
    padding-bottom: max(1rem, env(safe-area-inset-bottom));
  }
  .h-dvh {
    height: 100dvh;
  }
}
